doctype html
html(lang="ru-RU")
   title Hello World
   link(rel="stylesheet" type="text/css" href='static/css/main.css')
body
    p Good buy!+
    p Good buy!+
    .slider
        .slider-item
        .slider-item
        .slider-item
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")